* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: #333;
}
a {
    text-decoration: none;
    color: black;
}

.position-absolute {
  position: absolute;
}

/* NAVBAR */
nav {
  z-index: 1;

}

.menu-nav--desktop {
    display: none;
}

.menu-nav--mobile {
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: #333;
    background-image: url("../../img/loading-screen-background_landscape.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.menu-logo {
    position: absolute;
    left:1vw;
    max-height: 10vh;
}

.btn-a--account{
    position: absolute;
    right: 25vw;
    line-height: 10vh;
    background: none;
    border: none;
    font-size: 6vh;   
    color: rgb(242,170,35); 
    text-shadow: 3px 3px 3px #000;
}

#btn-a--hamburger {
  position: absolute;
  right: 5vw;
  line-height: 10vh;
  background: none;
  border: none;
  font-size: 6vh;   
  color: rgb(242,170,35);
  text-shadow: 3px 3px 3px #000;
  cursor: pointer;
}

#menu-input_show, #menu-input-show_others {
  display: none;
}

#menu-input_show:checked + #menu-nav-list {
  height: 950px;
}

#menu-nav-list {
  position: absolute;
  top: 8vh;
  left: calc(50% - 45%);
  width: 90%;
  height: 0;
  overflow: hidden;
  z-index: 1;
  background-image: url("../../img/nav-background.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: height .3s linear;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-links {
  /* position: absolute; */
  display: block;
}

.menu-links li {
  margin: 15px auto;
  padding: 5px;
  width: 75%;
  border-radius: 5px;

  list-style: none;
  text-align: center;
}

.menu-link {
  display: block;
  font-size: 12vw;
  padding: 10px;
  width: 100%;
  font-family: 'Friz Quadrata Std Bold';
  font-weight: bold;
  color:  rgb(255, 230, 0);
  text-shadow: 2px 2px 1px #000;
  -webkit-text-stroke-width: 0.11vw;
  -webkit-text-stroke-color: black;
  background-image: url("../../img/wowButton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 100%;
}

@media (min-width:151px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 625px;
  }
}
@media (min-width:174px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 650px;
  }
}
@media (min-width:193px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 675px;
  }
}
@media (min-width:215px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 700px;
  }
}
@media (min-width:232px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 750px;
  }
}
@media (min-width:269px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 800px;
  }
}
@media (min-width:315px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 900px;
  }
}
@media (min-width:390px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 1000px;
  }
}
@media (min-width:470px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 1150px;
  }
}
@media (min-width:585px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 1250px;
  }
}
@media (min-width:660px) {
  #menu-input_show:checked + #menu-nav-list {
    height: 1400px;
  }
}
/* LANDSCAPE */

@media (orientation:landscape) {
  @media (min-width: 568px) {
    .menu-logo {
      left: 2vw;
  }
    #btn-a--hamburger {
      right: 4vw;
    }
    .btn-a--account {
      right: 9vw;
    }
  }
  @media (min-width:720px) {
    .menu-nav--mobile{display: none;}
    .menu-nav--desktop{display: block;}
  }
  @media (min-width:823px) {
    .menu-nav--mobile{display: none;}
    .menu-nav--desktop{display: block;}
  }
}

/* MAIN */

main {
  padding-top: 10vh;
}

main h2 {
  text-align: center;
  font-family: "Friz Quadrata Std Medium", sans-serif;
  color: rgb(207, 176, 2);
  text-shadow: 0.3vw 0.3vw 0.3vw #000;
}

.hero-bg {
  width: 100%;
  min-height: 20vh;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 2.5vw;
}

.underline{
  position: relative;
  margin-bottom: 3vh;
}

.line {
position: absolute;
height: 1vw;
background-color:rgb(207, 176, 2);
width: 30%;
margin: auto 35% auto 35%;
border-radius: 1vw;
}

.main-section-displayed {
  width: 100%;
  min-height: 10vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  /* background-color: #555; */
}

.section-article-displayed {
  width: 90%;
  min-height: 5vh;
  margin: auto 5% auto 5%;
  margin-bottom: 4vw;
  padding-bottom: 2vh;
  background-color: #444;
}

.section-article-displayed h3 {
    text-align: center;
    padding: 2vw;
    font-size: 7vw;
    color: rgb(207, 176, 2);
    font-family: "Friz Quadrata Std Medium", sans-serif;
}

.section-article-displayed img {
  width: 90%;
  margin: auto 5% auto 5%;
  border: 1vw solid gold;
  border-bottom-right-radius: 6vw;
  box-shadow: 0.3vw 0.3vw 1vw black;
}

.section-article-displayed iframe {
  width: 90%;
  height: 70vh;
  margin: auto 5% auto 5%;
  border: 1vw solid gold;
  box-shadow: 0.3vw 0.3vw 1vw black;
}

.section-article-displayed p {
  color: white;
  font-size: 4vw;
  margin: auto 5% auto 5%; 
  font-family: "Friz Quadrata Std Medium",sans-serif;
  text-shadow: 0.1vw 0.1vw 0.3vw #000;
}

.main-section-displayed #article1 {
  display: block;
}

.main-section-displayed #article2 {
  display: none;
}

.main-section-displayed #article3 {
  display: none;
}
/* OTHERS  */

.main-section-others #articleOthers1 {
  display: none;
}


.article {
  position: relative;
  min-height: 20vh;
  border: 1vw solid gold;
  border-radius: 2.5vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article:hover > .article-text {
  transform: translate(-50%,-50%) scale(1.2);
}

.article-text {
  font-size: 5vw;
  position: absolute;
  /* width: 100%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  text-align: center;
  color: gold;
  transition: transform .3s;
}

.main-section-others {
  width: 100%;
  min-height: 10vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.section-article-others {
  width: 90%;
  min-height: 5vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4vw;
  background-color: #444;
  border-radius: 2.5vw;
}


/* FOOTER */

footer{
  border-top: 2px solid  #d1ad22;
  display: flex;
  background-image: url("../../img/footer/azeorh-info-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.footer-header {
  margin: 2vw auto;
  font-family: 'lifecraftregular';
  text-align: center;
  font-size: 10vw;
  color:  #d1ad22;
  text-shadow: 0.2vw 0.2vw 0.2vw #000;
  -webkit-text-stroke: 0.05vw black;
}

.footer-left{
  float:left;
  display:block;
  width:100%;
  min-height:50vh;
}

.footer-right{
  float:left;
  display:block;
  width: 100%;
  min-height:35vh;
  background-image: url("../../img/footer/azeorh-info-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-left-description {
  font-size: 5vw;
  text-align: center;
  padding: 2vh 3vw;
  font-family: 'Friz Quadrata Std Italic';
  color: white;
}

.footer-left-description span {
  font-size: 4.5vw;
  color:  rgb(255, 230, 0);
  text-shadow: 0.2vw 0.2vw 0.2vw #000;
}

.footer-left-contact {
  text-align: center;
  color:  #d1ad22;
  text-shadow: 0.2vw 0.2vw 0.2vw #000;
}
.footer-left-contact span {
  color: white;
}

.footer-left-links {
  padding-top: 3vh;
  text-align: center;
}

.footer-left-links i{
  font-size: 10vw;
  color:  #d1ad22;
  text-shadow: 0.2vw 0.2vw 0.2vw #000;
}
#footer-form-contact ul{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#footer-form-contact li {
  padding: 1vh;
  list-style: none;
  width: 100%;
}
#footer-form-contact .footer-form-element {
  border: 1vw solid  #d1ad22;
  width: 100%;
  outline: none;
  background-color: rgba(51, 51, 51, 0.794);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1vh;
  color:white;
}
.footer-form-element::placeholder {
  font-family: cursive;
  color:#d1ad22;
  padding: 1vh;
}
#message {
  resize: none;
}
#footer-form-button {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  font-size: 3vh;
  font-family: 'Friz Quadrata Std Medium';
  color:  #d1ad22;
  text-shadow: 0.2vw 0.2vw 0.2vw #000;
  text-align: center;
  -webkit-text-stroke-width: 0.11vw;
  -webkit-text-stroke-color: black;
  background-image: url("../../img/wowButton.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 1vh;
  transition: background-image .3s, transform .3s;
}
#footer-form-button:hover {
  background-image: url("../../img/wowButton_clicked.png");
  transform: scale(1.1);
}
